*.pyc
Python/Unfinished/Reddit Bot/botconfig.py
*.mid
C++/Eigen/
C/mesch12b/
GNU Assembly/ASSEMBLER.py
GNU Assembly/*/*.bat
GNU Assembly/*.bat
*.exe
*.o
*.ctxt
*.bak
*.bluej
*.compiled
*.lpi
*.lps
*.lpr
*.class
*.aux
